body{
    max-width: 800px;
    margin: auto;
    /* border: 1px solid #000; */
    padding: 1px;
}
@media (max-width:600px)  {
    body{margin-left: 2%;} 
    body{margin-right: 2%;}
}

/* Header Menu Styles */
.header-nav {
    background-image:     linear-gradient(#ee010165, transparent),
    linear-gradient(to top left, #00ff007a, transparent),
    linear-gradient(to top right, #0000ff6c, transparent);
    padding: 2px 10px 2px;
    margin-bottom: 10px;
}

.header-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    font-size: 22px;
}

.header-nav li {
    margin-right: 30px;
    position: relative;
}

.header-nav a {
    color: #fff3f3;
    text-decoration: none;
    display: block;
    padding: 3px;
    font-weight: bold;
}

.header-nav a:hover {
    text-decoration: underline;
    color: rgb(0, 17, 255);
}

/* Submenu Styles */
.header-nav ul ul {
    display: none;
    background-color: rgb(0, 235, 235);
}

.header-nav ul li:hover > ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* top: 100%; */
    left: 30%;
    /* transform: translateX(-8%); */
     }

.header-nav ul li:hover > ul ul {
    background-color: #8a8a8a;
    left: 30px;
}




/* Footer Menu Styles */
#dynamicFooter {
    background-color: #fbff07;
    padding: 2px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#dynamicFooter ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 22px;
    
}

#dynamicFooter li {
    margin-right: 15px;
    position: relative;
}

#dynamicFooter a {
    color: #0093c0;
    text-decoration: none;
    display: block;
    padding: 5px;
    font-weight: bold;
}

#dynamicFooter a:hover {
    text-decoration: underline;
    color: #f72ba9;
   }